.main-wrap{
   display: flex;
   justify-content: center;
   margin-top: 10em;
}

h1{
 color: rgba(44, 141, 104, 0.966);
}

article > span {
  display: flex;
  margin-top: 1em;
  font-weight: 600;
}

h3{
  color: rgb(9, 151, 80);
}
.second-info > div {
  display: flex;
}

.second-info > div > span{
  font-weight: bold;
} 

ul {
  list-style: none;
}

